<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutPanel Orientation="Vertical" DockWidth="1.60329358319137*">
      <LayoutDocumentPaneGroup Orientation="Horizontal">
        <LayoutDocumentPane>
          <LayoutDocument Title="Instructions  " ContentId="ContentIDInstructionPane" CanClose="False" LastActivationTimeStamp="01/08/2018 14:46:05" />
          <LayoutDocument Title="Image set  " IsSelected="True" IsLastFocusedDocument="True" ContentId="ContentIDImageSetPane" CanClose="False" CanFloat="False" LastActivationTimeStamp="01/08/2018 15:03:03" />
          <LayoutDocument Title="Data table  " ContentId="ContentIDDataGridPane" CanClose="False" />
        </LayoutDocumentPane>
      </LayoutDocumentPaneGroup>
    </LayoutPanel>
    <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="232.866666666667" DockHeight="Auto" FloatingWidth="1192" FloatingHeight="112" FloatingLeft="1197.33333333333" FloatingTop="543.333333333333">
      <LayoutAnchorablePane DockWidth="232.866666666667" DockHeight="Auto" FloatingWidth="1192" FloatingHeight="112" FloatingLeft="1197.33333333333" FloatingTop="543.333333333333">
        <LayoutAnchorable CanHide="False" CanAutoHide="False" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Data entry for all files" IsSelected="True" ContentId="ContentIDDataEntryControlPanel" FloatingLeft="1197.33333333333" FloatingTop="543.333333333333" FloatingWidth="1192" FloatingHeight="112" CanClose="False" LastActivationTimeStamp="01/08/2018 15:02:56" />
      </LayoutAnchorablePane>
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>