<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutAnchorablePane Id="d73fc8d6-edb9-4566-9481-8cf29376901c" DockHeight="Auto" />
    <LayoutDocumentPaneGroup Orientation="Horizontal">
      <LayoutDocumentPane>
        <LayoutDocument Title="Instructions  " ContentId="ContentIDInstructionPane" CanClose="False" LastActivationTimeStamp="01/08/2018 15:18:56" />
        <LayoutDocument Title="Image set  " IsSelected="True" IsLastFocusedDocument="True" ContentId="ContentIDImageSetPane" CanClose="False" CanFloat="False" LastActivationTimeStamp="01/08/2018 21:15:28" />
        <LayoutDocument Title="Data Table  " ContentId="ContentIDDataGridPane" CanClose="False" />
      </LayoutDocumentPane>
    </LayoutDocumentPaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows>
    <LayoutAnchorableFloatingWindow>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="Auto" FloatingWidth="721.333333333333" FloatingHeight="182" FloatingLeft="52" FloatingTop="126.666666666667">
        <LayoutAnchorablePane DockHeight="Auto" FloatingWidth="721.333333333333" FloatingHeight="182" FloatingLeft="0" FloatingTop="126.666666666667">
          <LayoutAnchorable CanHide="False" CanAutoHide="False" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Data entry for all files" IsSelected="True" ContentId="ContentIDDataEntryControlPanel" FloatingLeft="52" FloatingTop="126.666666666667" FloatingWidth="721.333333333333" FloatingHeight="182" CanClose="False" LastActivationTimeStamp="01/08/2018 21:15:25" PreviousContainerId="d73fc8d6-edb9-4566-9481-8cf29376901c" PreviousContainerIndex="0" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorableFloatingWindow>
  </FloatingWindows>
  <Hidden />
</LayoutRoot>