<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutAnchorablePane Id="863dfea1-9941-4264-bdfc-431a8f6163dd" DockHeight="Auto">
      <LayoutAnchorable CanHide="False" CanAutoHide="False" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Data entry for all files" IsSelected="True" ContentId="ContentIDDataEntryControlPanel" CanClose="False" LastActivationTimeStamp="01/08/2018 15:18:32" />
    </LayoutAnchorablePane>
    <LayoutDocumentPaneGroup Orientation="Horizontal">
      <LayoutDocumentPane>
        <LayoutDocument Title="Instructions  " ContentId="ContentIDInstructionPane" ToolTip="Instructions. Pull it out as a separate window by dragging its title bar" CanClose="False" LastActivationTimeStamp="01/08/2018 15:18:33" />
        <LayoutDocument Title="Image set  " IsSelected="True" IsLastFocusedDocument="True" ContentId="ContentIDImageSetPane" ToolTip="Image Set displays your image and video files" CanClose="False" CanFloat="False" LastActivationTimeStamp="01/08/2018 15:18:36" />
        <LayoutDocument Title="Data Table  " ContentId="ContentIDDataGridPane" ToolTip="Data Table shows all your data. Pull it out as a separate window by dragging its title bar" CanClose="False" />
      </LayoutDocumentPane>
    </LayoutDocumentPaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>